<div class="summary"><h3>Summary</h3>
    <span class="steps">Steps: {{summary.steps}}</span>
    <span class="skipped">Skipped: {{summary.skipped}}</span>
    <span class="pending">Pending: {{summary.pending}}</span>
    <span class="tags">Tags: {{#each summary.tags}}{{@key}}{{this}}{{/each}}</span>
</div>
{{#each cuke}}
    <section>
        <h1>{{this.type}}</h1>
        <ul>
            <li><span class="feature">{{jiraLinking this.name}}</span>{{#if this.tags}}<li>Tags:{{#each this.tags}}{{this.name}} {{/each}}</li>{{/if}}</li>
            <li>
                <ul>
                    {{#each this.elements}}
                        <li><span class="scenario">{{this.name}}</span></li>
                        {{#if this.tags}}<li>Tags:{{#each this.tags}}{{this.name}} {{/each}}</li>{{/if}}
                        <li>
                            <ul>
                                {{#each this.steps}}
                                    <li>{{this.keyword}} {{this.name}} - <span class="status {{this.result.status}}">{{this.result.status}}</span></li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </section>
{{/each}}
<div class="summary">
    <span class="skipped">Skipped: {{summary.skipped}}</span>
    <span class="pending">Pending: {{summary.pending}}</span>
</div>